<div class="container">

    <div class="row">
        <div class="col-12">
            <select #selectedValue  class="form-control"  (change)="reload(selectedValue.value)">
              <option *ngFor="let s of selection" [value]="s.name">{{s.name}}</option>
            </select>
        </div>
    </div>

    <div class="row my-4" >

        <div class="col-6">
          <div class="card">
              <div class="card-header">
                  Compras:
              </div>
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Valor</th>
                      <th>Volume</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bid of orders.bids; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>R$ {{bid[0]}}</td>
                      <td>{{bid[1]}}</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Vendas:
                </div>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Valor</th>
                        <th>Volume</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ask of orders.asks; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>R$ {{ask[0]}}</td>
                        <td>{{ask[1]}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

