<div>
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo lighten-1">

    <!-- Navbar brand -->
    <logo><a routerLink="" class="navbar-brand">Cayres Trader</a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <!--li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" routerLink="/login" mdbRippleRadius>Login</a>
            </li-->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" routerLink="/graphic" mdbRippleRadius>Gráfico</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" routerLink="/book" mdbRippleRadius>Livro de Ordens</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link waves-light" routerLink="/trades" mdbRippleRadius>Negociações</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link waves-light" routerLink="/par" mdbRippleRadius>Pares de Negociações</a>
            </li>
        </ul>
    </links>

  </mdb-navbar>
  <!--/.Navbar-->
</div>
<div>
  <router-outlet></router-outlet>
</div>

















