<div class="container">
  <div class="row">
    <!--Card-->
    <div class="card card-cascade wider reverse my-2 col-12">

      <!--Card image-->
      <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
        <img [src]=cripto class="img-responsive" style="max-height: 400px; width: 100%">
      </div>

      <!--Card content-->
      <div class="card-body text-center" style="height:100px">
          <!--Title-->
          <h4 class="card-title"><strong>Cayres Trader</strong></h4>
          <h5 class="indigo-text"><strong>Trade em Criptomoesdas</strong></h5>
      </div>
    </div>
<!--/.Card-->
  </div>
</div>


